<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
    <title>Course list</title>
</head>
<body>
    <div class="container text-center">
		<h1 class="">Course information</h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12 ">
				<table class="table">
					<thead>
					  <tr>
						<th scope="col">Course code <br> Course name</th>
						<th scope="col">First day <br> Second day</th>
						<th scope="col">Start time <br>	Finish time</th>
						<th scope="col">Section</th>
                        <th scope="col">Room</th>
						<th scope="col">Lecture name</th>
						<th scope="col">Description</th>
						<th scope="col">Prerequisite</th>
					  </tr>
					</thead>
					<tbody>
						{% if courses %}
							{% for course in courses %}
								<tr>
									<td>{{ course.course_code }} <br>{{ course.course_name }}</td>
									<td>{{ course.first_day }} <br> {{ course.second_day }}</td>
									<td>{{ course.start_time }} <br> {{ course.finish_time }}</td>
                                    <td>{{ course.section }}</td>
									<td>{{ course.room }}</td>
									<td>{{ course.lecture_name }}</td>
                                    <td>{{ course.description }}</td>
									<td>{{ course.prerequisite }}</td>
								</tr>
							{% endfor %}
						{% else %}
							<div class="alert alert-warning" role="alert">
								Something went wrong!
							</div>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>